interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485ei'' for workspaceId ''15ef441f-5808-4b76-87d8-75cd01c88df6''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "Scheduled", "properties": {"query": "datatable (SomeInt:int,
      SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n| limit 1\n", "queryFrequency":
      "P5D", "queryPeriod": "P5D", "severity": "Low", "triggerOperator": "GreaterThan",
      "triggerThreshold": 5, "description": "cliAlert", "displayName": "CliAlertDescription",
      "enabled": true, "suppressionDuration": "P10D", "suppressionEnabled": true,
      "tactics": ["PrivilegeEscalation"], "incidentConfiguration": {"createIncident":
      true, "groupingConfiguration": {"enabled": false, "reopenClosedIncident": true,
      "lookbackDuration": "P5M", "entitiesMatchingMethod": "All", "groupByEntities":
      ["Account", "Ip"]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2019-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei","name":"5b8d86f5-26a8-49b8-ba37-b35286e485ei","etag":"\"1b00eccf-0000-0100-0000-5f1f5c960000\"","type":"Microsoft.SecurityInsights/alertRules","kind":"Scheduled","properties":{"severity":"Low","query":"datatable
        (SomeInt:int, SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n|
        limit 1\n","queryFrequency":"P5D","queryPeriod":"P5D","triggerOperator":"GreaterThan","triggerThreshold":5,"suppressionDuration":"P10D","suppressionEnabled":true,"incidentConfiguration":{"createIncident":true,"groupingConfiguration":{"enabled":false,"reopenClosedIncident":true,"lookbackDuration":"P150D","entitiesMatchingMethod":"All","groupByEntities":["Account","Ip"]}},"displayName":"CliAlertDescription","enabled":true,"description":"cliAlert","tactics":["PrivilegeEscalation"],"alertRuleTemplateName":null,"lastModifiedUtc":"2020-07-27T23:00:37.5383068Z"}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hy'' for workspaceId ''15ef441f-5808-4b76-87d8-75cd01c88df6''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hz'' for workspaceId ''15ef441f-5808-4b76-87d8-75cd01c88df6''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Microsoft.OperationalInsights/workspaces/clitest64i3ngudb3qq3mqmn/providers/Microsoft.SecurityInsights/alertRules?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_vibbkut/providers/Micro[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_vibbkut/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_vibbkut?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjVGU0VOVElORUw6NUZSRzo1RlZJQkJLVVQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
