interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485ei'' for workspaceId ''831e4dda-e868-481a-bf4d-665b943be7ee''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "Scheduled", "properties": {"query": "datatable (SomeInt:int,
      SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n| limit 1\n", "queryFrequency":
      "P5D", "queryPeriod": "P5D", "severity": "Low", "triggerOperator": "GreaterThan",
      "triggerThreshold": 5, "description": "cliAlert", "displayName": "CliAlertDescription",
      "enabled": true, "suppressionDuration": "P10D", "suppressionEnabled": true,
      "tactics": ["PrivilegeEscalation"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2020-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei","name":"5b8d86f5-26a8-49b8-ba37-b35286e485ei","etag":"\"2b008995-0000-0100-0000-5e9fa53f0000\"","type":"Microsoft.SecurityInsights/alertRules","kind":"Scheduled","properties":{"severity":"Low","query":"datatable
        (SomeInt:int, SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n|
        limit 1\n","queryFrequency":"P5D","queryPeriod":"P5D","triggerOperator":"GreaterThan","triggerThreshold":5,"suppressionDuration":"P10D","suppressionEnabled":true,"displayName":"CliAlertDescription","enabled":true,"description":"cliAlert","tactics":["PrivilegeEscalation"],"alertRuleTemplateName":null,"lastModifiedUtc":"2020-04-22T02:00:31.3988848Z"}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei/actions?api-version=2020-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hy'' for workspaceId ''831e4dda-e868-481a-bf4d-665b943be7ee''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy/actions?api-version=2020-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz?api-version=2020-01-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hz'' for workspaceId ''831e4dda-e868-481a-bf4d-665b943be7ee''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz/actions?api-version=2020-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.OperationalInsights/workspaces/clitestrw4cmvsk4675avtji/providers/Microsoft.SecurityInsights/alertRules?api-version=2020-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.Ope[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_rgfaxbp/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_rgfaxbp?api-version=2019-07-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjVGU0VOVElORUw6NUZSRzo1RlJHRkFYQlAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2019-07-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
version: 1
