interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485ei'' for workspaceId ''2b9c610f-98b2-4ee4-b6c4-7eee88d2a0cc''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"kind": "Scheduled", "properties": {"query": "datatable (SomeInt:int,
      SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n| limit 1\n", "queryFrequency":
      "P5D", "queryPeriod": "P5D", "severity": "Low", "triggerOperator": "GreaterThan",
      "triggerThreshold": 5, "eventGroupingSettings": {"aggregationKind": "AlertPerResult"},
      "description": "cliAlert", "displayName": "CliAlertDescription", "enabled":
      true, "suppressionDuration": "P10D", "suppressionEnabled": true, "tactics":
      ["PrivilegeEscalation"], "incidentConfiguration": {"createIncident": true, "groupingConfiguration":
      {"enabled": true, "reopenClosedIncident": true, "lookbackDuration": "PT5M",
      "entitiesMatchingMethod": "All", "groupByEntities": ["Account"]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei?api-version=2019-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei","name":"5b8d86f5-26a8-49b8-ba37-b35286e485ei","etag":"\"3700bf0c-0000-0100-0000-5f86a23d0000\"","type":"Microsoft.SecurityInsights/alertRules","kind":"Scheduled","properties":{"severity":"Low","query":"datatable
        (SomeInt:int, SomeString:string) [\n  100, \"Foo\",\n  200, \"Bar\",\n]\n|
        limit 1\n","queryFrequency":"P5D","queryPeriod":"P5D","triggerOperator":"GreaterThan","triggerThreshold":5,"suppressionDuration":"P10D","suppressionEnabled":true,"incidentConfiguration":{"createIncident":true,"groupingConfiguration":{"enabled":true,"reopenClosedIncident":true,"lookbackDuration":"PT5M","entitiesMatchingMethod":"All","groupByEntities":["Account"]}},"eventGroupingSettings":{"aggregationKind":"AlertPerResult"},"displayName":"CliAlertDescription","enabled":true,"description":"cliAlert","tactics":["PrivilegeEscalation"],"alertRuleTemplateName":null,"lastModifiedUtc":"2020-10-14T07:01:16.9043119Z"}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485ei/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hy'' for workspaceId ''2b9c610f-98b2-4ee4-b6c4-7eee88d2a0cc''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hy/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz?api-version=2019-01-01-preview
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Cannot find rule with resource
        name ''5b8d86f5-26a8-49b8-ba37-b35286e485hz'' for workspaceId ''2b9c610f-98b2-4ee4-b6c4-7eee88d2a0cc''."}}'
    headers:
      api-supported-versions:
      - 2019-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules/5b8d86f5-26a8-49b8-ba37-b35286e485hz/actions?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.OperationalInsights/workspaces/clitestm4n57idywp4rrqkf3/providers/Microsoft.SecurityInsights/alertRules?api-version=2019-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_sentinel_rg_ejoyqgv/providers/Micro[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_ejoyqgv/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_sentinel_rg_ejoyqgv?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjVGU0VOVElORUw6NUZSRzo1RkVKT1lRR1YtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2020-06-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
