interactions:
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2014-04-01-preview/deploymentTemplate.json",
      "contentVersion": "1.0.0.0", "parameters": {"location": {"type": "string", "metadata":
      {"description": "Location of the resources."}, "defaultValue": "eastus"}}, "resources":
      [{"apiVersion": "2018-07-01-preview", "name": "helloWorldNetwork", "type": "Microsoft.ServiceFabricMesh/networks",
      "location": "[parameters(''location'')]", "dependsOn": [], "properties": {"addressPrefix":
      "10.0.0.4/22", "ingressConfig": {"layer4": [{"name": "helloWorldIngress", "publicPort":
      "80", "applicationName": "helloWorldApp", "serviceName": "helloWorldService",
      "endpointName": "helloWorldListener"}]}}}, {"apiVersion": "2018-07-01-preview",
      "name": "helloWorldApp", "type": "Microsoft.ServiceFabricMesh/applications",
      "location": "[parameters(''location'')]", "dependsOn": ["Microsoft.ServiceFabricMesh/networks/helloWorldNetwork"],
      "properties": {"description": "Service Fabric Mesh HelloWorld Application!",
      "services": [{"type": "Microsoft.ServiceFabricMesh/services", "location": "[parameters(''location'')]",
      "name": "helloWorldService", "properties": {"description": "Service Fabric Mesh
      Hello World Service.", "osType": "linux", "codePackages": [{"name": "helloWorldCode",
      "image": "seabreeze/azure-mesh-helloworld:1.1-alpine", "endpoints": [{"name":
      "helloWorldListener", "port": "80"}], "resources": {"requests": {"cpu": "1",
      "memoryInGB": "1"}}}, {"name": "helloWorldSideCar", "image": "seabreeze/azure-mesh-helloworld-sidecar:1.0-alpine",
      "resources": {"requests": {"cpu": "1", "memoryInGB": "1"}}}], "replicaCount":
      "1", "networkRefs": [{"name": "[resourceId(''Microsoft.ServiceFabricMesh/networks'',
      ''helloWorldNetwork'')]"}]}}]}}]}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"15501184722265908076","parameters":{"location":{"type":"String","value":"eastus"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-03-13T01:33:57.4486232Z","duration":"PT1.0722942S","correlationId":"2e7c54e2-0289-4cd1-a334-1f26f36f097f","providers":[{"namespace":"Microsoft.ServiceFabricMesh","resourceTypes":[{"resourceType":"networks","locations":["eastus"]},{"resourceType":"applications","locations":["eastus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/networks/helloWorldNetwork","resourceType":"Microsoft.ServiceFabricMesh/networks","resourceName":"helloWorldNetwork"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ServiceFabricMesh/applications/helloWorldApp","resourceType":"Microsoft.ServiceFabricMesh/applications","resourceName":"helloWorldApp"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002/operationStatuses/08586175436491012812?api-version=2019-07-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586175436491012812?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586175436491012812?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Failed","error":{"code":"DeploymentFailed","message":"At
        least one resource deployment operation failed. Please list deployment operations
        for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"BadRequest","message":"{\r\n  \"error\":
        {\r\n    \"code\": \"UnsupportedProperty\",\r\n    \"message\": \"Property:
        .properties.services[].location is not supported.\",\r\n    \"details\": [\r\n      {\r\n        \"code\":
        \"Exception\",\r\n        \"message\": \"Microsoft.ServiceFabric.Rp.Errors.WrpException:
        Property: .properties.services[].location is not supported.\\r\\n   at Microsoft.ServiceFabric.Rp.Model.Public.ExternalApiEntityValidator.Validate(String
        schema, IEnumerable`1 additionalPropertiesPaths, IEnumerable`1 apiVersions)\\r\\n   at
        Microsoft.ServiceFabric.Rp.Common.WrpJsonFormatter.<>c__DisplayClass8_0.<ReadFromStreamAsync>b__0()
        in F:\\\\aw\\\\1\\\\s\\\\src\\\\Common.Web\\\\WrpJsonFormatter.cs:line 104\\r\\n   at
        System.Threading.Tasks.Task`1.InnerInvoke()\\r\\n   at System.Threading.Tasks.Task.Execute()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\\r\\n   at System.Net.Http.HttpContentExtensions.<ReadAsAsyncCore>d__17`1.MoveNext()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\\r\\n   at System.Web.Http.ModelBinding.FormatterParameterBinding.<ExecuteBindingAsyncCore>d__18.MoveNext()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\\r\\n   at System.Web.Http.Controllers.HttpActionBinding.<ExecuteBindingAsyncCore>d__12.MoveNext()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\\r\\n   at System.Web.Http.Controllers.ActionFilterResult.<ExecuteAsync>d__5.MoveNext()\\r\\n---
        End of stack trace from previous location where exception was thrown ---\\r\\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\\r\\n   at System.Web.Http.Dispatcher.HttpControllerDispatcher.<SendAsync>d__15.MoveNext()\"\r\n      }\r\n    ]\r\n  }\r\n}"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
